<div class="container">

    <app-header (clickedHideShow)="toggleSidebar($event)"
    [getTitlesArray]="titles" (updateTitleSearchText)="updateSearchText($event)">
        
    </app-header>
    
    <div id="sidenav" class="sidenav" [ngClass]="{'sidenav-margin-left':showSidebar}">
        <app-sidebar [showSidebar]="showSidebar" 
            [getSortObj]="sortObj" (updateSortObj)="updateSortObjFromSidebar($event)"
            [getPlatformObj]="platformObj" (updatePlatformObj)="updatePlatformObjFromSidebar($event)"
            [getGenreObj]="genreObj" (updateGenreObj)="updateGenreObjFromSidebar($event)"
            [getRelease_yearObj]="release_yearObj" (updateRelease_yearObj)="updateRelease_yearObjFromSidebar($event)"
            [getEditors_choiceObj]="editors_choiceObj" (updateEditors_choiceObj)="updateEditors_choiceObjFromSidebar($event)">
        </app-sidebar>
    </div>
    <div id="content" class="content" [ngClass]="{'content-margin-left':showSidebar}">
        <div class="game-cards">
            <app-game-card *ngFor="let game of gameList | title:searchText | sort: sortObj | platform: platformObj 
                | genre: genreObj 
                | release_year:release_yearObj | editors_choice:editors_choiceObj | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" 
                [game]="game">
            </app-game-card>
            
        </div>
        <pagination-controls class="pages-center" (pageChange)="p = $event"></pagination-controls>

    </div>
</div>
